<script lang="ts" setup>
import { ref } from 'vue'
const useLa
</script>
<template>
  <v-dialog v-model="islaodding" persistent width="auto">
    <v-card>
      <v-card-text class="text-center">
        <div>Please Wait</div>
        <v-progress-circular color="primary" size="50" indeterminate></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
